.m-title{height:48px;background-color:#52c4fe;padding:0 1em;position:fixed;top:0;width:100%;box-shadow:none}
.m-title a{color:#fff}
.m-title a:active{color:#fff}
.m-title h1{color:#fff}
.m-title .mui-pull-right{font-size:.95rem;margin-top:16px}
.quoted-price .hd{height:40px;line-height:40px;border-bottom:1px solid #e2e2e2}
.quoted-price .hd li{padding:0 .5em;float:left}
.quoted-price .hd li a{font-size:.9rem;color:#777;padding:0 .5em 8px .5em}
.quoted-price .hd li.on a{color:#52c4fe;border-bottom:2px solid #52c4fe}
button:enabled:active{background:0 0}
.default-button{margin:15px 0;position:static!important}
.suspension{width:100%;position:fixed;bottom:0}
.pay-button,.release-button{padding:1em;box-shadow:0 -3px 5px #ddd;margin-top:30px;}
.pay-button button,.release-button button{font-family:"Microsoft YaHei";color:#fff;font-size:1rem;border-radius:4px;margin:0;padding:0;height:37px;line-height:37px;background-color:#52c4fe;border:none}
.deposit-button{clear:both;padding:0 .3rem;overflow:hidden}
.deposit-button .pay label{font-family:"Microsoft YaHei";font-size:1rem;color:#333;width:46%;height:45px;line-height:45px;float:left;border:1px solid #ababab;margin:0 2%;text-align:center;border-radius:4px}
.deposit-button .pay label i{display:inline-block;background:url(../images/icon.png) no-repeat;background-size:240px;vertical-align:middle;margin-top:-4px;margin-right:10px}
.deposit-button .pay label.weixin i{width:28px;height:24.6px;background-position:-88px -32px}
.deposit-button .pay label.zhifubao i{width:25px;height:25px;background-position:-134px -32px}
.deposit-button .pay input{display:none}
.deposit-button .selected label{border:2px solid #52c4fe}
.pay-button{max-width:640px;bottom:15px;box-shadow:none}
.pay-button .registered-button{margin-top:10px;background-color:#52D969}
.pay-button .forget{margin-top:15px;overflow:hidden;font-size:.9rem;color:#ff801a}
.ft-button{padding:10px 1em;overflow:hidden;position:absolute;bottom:0;width:100%;background-color:#f3f3f3}
.ft-button button{height:35px;line-height:35px;font-size:1rem;border:1px solid #52c4fe}
.ft-button button.reset-button{width:40%;color:#52c4fe;float:left}
.ft-button button.sure-button{width:57%;background-color:#52c4fe;color:#fff;float:right}
.deposit li{font-size:.8rem;color:#666}
.deposit li em{color:#aaa}
.deposit li span{color:#333;float:right}
.car-info{margin-top:10px}
.car-info dl dt{font-size:.8rem;color:#666;line-height:24px;float:left}
.car-info dl dd{font-size:.8rem;color:#333;line-height:24px;padding-left:5.2em}
.authenticate-form dl{padding:0 1em}
.authenticate-form dl dt{line-height:46px}
.authenticate-form dl dd{line-height:46px}
.authenticate-form dl dd input[type='text'],.authenticate-form dl dd input[type='number']{font-family:"Microsoft YaHei";font-size:.8rem;height:46px;margin:0;border:none}
.authenticate-form dl dd.button {margin: 20px auto;padding-left: 0;text-align: center;}
body{font-family:"Microsoft YaHei";font-size:.8rem}
blockquote,body,button,caption,dd,div,dl,dt,fieldset,figure,form,h1,h2,h3,h4,h5,h6,hr,html,input,legend,li,menu,ol,p,pre,table,td,textarea,th,ul{margin:0;padding:0}
address,caption,cite,code,em,h1,h2,h3,h4,h5,h6,pre,strong,table,td,th{font-size:1em;font-style:normal;font-weight:400}
table{border-collapse:collapse;border-spacing:0}
abbr,body,fieldset,html,iframe,img{border:0}
address,cite,dfn,em,i,var{font-style:normal}
[hidefocus],summary{outline:0}
li{list-style:none}
h1,h2,h3,h4,h5,h6,small{font-size:100%}
textarea{overflow:auto;resize:none}
label,summary{cursor:default}
a,button{cursor:pointer}
em,h1,h2,h3,h4,h5,h6{font-weight:400}
a,a:active,a:hover,a:link,a:visited,del,ins{text-decoration:none}
body,button,input,legend,select,textarea{font:12px/1.14 arial,\5b8b\4f53;color:#333;outline:0;margin-bottom: 0;}
body{background:#fff}
a,a:hover{color:#333}
body{font-family:"Microsoft YaHei";font-size:.8rem;background:0 0;max-width:640px;margin:0 auto}
input,button,select,label{font-family:"Microsoft YaHei";}
.bgf3{background-color:#f3f3f3}
.bgff{background-color:#fff !important;}
.bgfc{background-color:#52c4fe}
.fonr-orange{color:#ff9037}
.mdb40{margin-bottom:60px}
.pl10{padding-left:10px}
.mt4{margin-top:4px}
.m0{margin:0}
.star-box{font-size:.9rem;color:#ffa800}
.star-box .star{width:62px;height:12px;display:inline-block;background:url(../images/icon.png) no-repeat -172px -32px;background-size:240px;vertical-align:middle;margin-top:-6px}
.star-box .star b{width:100%;height:16px;display:inline-block;background:url(../images/icon.png) no-repeat -172px -50px;background-size:240px}
.evaluation-content dd{width:153px;height:22px;display:inline-block;background-size:240px}

.radio{float:right;margin-top:-6px}
.radio .mui-radio{float:left;clear:none;margin:0 10px}
.radio .mui-radio input{width:18px;height:18px;margin-top:6px}
.radio .mui-radio input[type=radio]:before{font-size:1rem;color:#ababab}
.radio .mui-radio input[type=radio]:checked:before{color:#52c4fe}
.radio .mui-radio label{font-family:"Microsoft YaHei";font-size:.8rem;color:#333;padding-left:22px;padding-right:0}
.radio .mui-left input[type=radio]{left:0;    line-height: 48px;}
.upload-pic li{width:5em;text-align:center;float:left;margin-left:.85em}
.upload-pic li .icon{width:5em;height:5em;display:inline-block;background:url(../images/uppic.jpg) no-repeat;background-size:5em}
.upload-pic li p{font-size:.7rem;color:#666;line-height:16px}
.upload-pic li:first-child{margin-left:0}
.flow-chart{height:50px;line-height:50px;padding:0 1em;margin-top:4px;text-align:center}
.flow-chart i{width:66px;height:15px;display:inline-block;background:url(../images/icon.png) no-repeat;background-size:240px;vertical-align:middle}
.flow-chart i.icon-orange{background-position:-174px -110px}
.flow-chart i.icon-gray{background-position:-174px -138px}
.flow-chart span{color:#777;font-size:.8rem;padding:0 .3rem}
.flow-chart i.icon-last{width:28px}
.lalance-chart i{width:33px}
.lalance-chart i.icon-orange{background-position:-207px -69px}
.lalance-chart i.icon-gray{background-position:-207px -89px}
.lalance-chart i.icon-last{width:16px}
.copyright{text-align:center;position:absolute;bottom:20px;width:100%}
.copyright p{font-size:.9rem;color:#777;text-align:center;line-height:24px}
